# ===== Visual Studio 项目文件 =====
.vs/
*.user
*.suo
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# ===== 编译输出目录 =====
Debug/
Release/
x64/
x86/
ARM/
ARM64/

# ===== 编译中间产物 =====
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.tlog
*.lastbuildstate
*.log
*.recipe
*.iobj
*.ipdb
*.res
*.aps

# ===== 其它编译器产物 =====
*.o
*.out
*.dSYM/
a.exe

# ===== 操作系统生成的文件 =====
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
